<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h2>ADD COURSE </h2>
	<form action="addCourse" method="post">
		<label>CourseID :</label>
		<input type="text" name="courseId"/>
		<br/><br/>
		<label>CourseName :</label>
		<input type="text" name="courseName"/>
		<br/><br/>
		<label>CoursePrice :</label>
		<input type="text" name="CoursePrice"/>
		<br/><br/>
		
		<input type="submit" value="CREATE COURSE"/>
	
	</form>
</body>
</html>