<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h2>ADD LESSONS </h2>
	<form action="addLesson" method="post">
		<label>CourseID :</label>
		<input type="text" name="courseId"/>
		<br/><br/>
		<label>LessonID :</label>
		<input type="text" name="lessonId"/>
		<br/><br/>
		<label>LessonName :</label>
		<input type="text" name="lessonName"/>
		<br/><br/>
		<label>Lesson Topic :</label>
		<input type="text" name="topics"/>
		<br/><br/>
		<label>Lesson LINK :</label>
		<input type="text" name="link"/>
		<br/><br/>
		
		<input type="submit" value="ADD LESSON"/>
	
	</form>
</body>
</html>