<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>USER REGISTRATION</h2>
	<br/><br/>
	<form action="register" method="post">
		<label>UserName :</label>
		<input type="text" name="name"/>
		<br/><br/>
		<label>Email    :</label>
		<input type="email" name="email"/>
		<br/><br/>
		<label>Password  :</label>
		<input type="password" name="password"/>
		<br/><br/>
		<label>Role    :</label>
		trainer<input type="radio" name="role" value="trainerHome" />
		student<input type="radio" name="role" value="studentHome" />
		<br/><br/>
		
		<input type="submit" value="REGISTER"/>
	
		
	</form>

</body>
</html>